.menu {
  position: absolute;
  left: 2rem;
  top: 1rem;
  padding: 2rem;
  border: 1px solid $text;
  border-radius: 8px;
  box-shadow: 2px 2px 0px 2px rgba(0, 0, 0, 0.6);

  .ico {
    position: relative;
    padding-bottom: 2rem;
    .left1,
    .right1 {
      position: absolute;
      font-size: 2rem;

      cursor: pointer;
      &:hover {
        ul {
          display: block;
        }
      }
    }
  }
  ul {
    display: none;

    position: relative;
    list-style-type: none;
    top: 2rem;
    li {
      font-size: 2rem;
      padding-bottom: 1rem;
      a {
        text-decoration: none;
        color: white;
      }
    }
  }
  .show {
    display: block;
  }
}
