.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0 auto;
  #invoice-form {
    display: flex;
    flex-direction: column;
    label {
      font-size: 2.5rem;
      width: 100%;
      margin-bottom: 1rem;
    }
    input {
      font-size: 2.5rem;
      width: 100%;
      margin-bottom: 2rem;
    }
    a {
      text-decoration: none;
      color: $color-white;
    }
  }
}
